<!DOCTYPE html>
<html ng-app="wfms">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1 maximum-scale=4">
<title>WFMS</title>
<link rel="icon" href="images/favicon.ico"></link>
<!--  -->
<!--Application CSS-->
<link rel="stylesheet" type="text/css" href="css/main.css">

<!--Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

<!--Angular JS-->
<script type="text/javascript" src="library/angular/angular.min.js"></script>

<!--Angular UI Router JS-->
<script type="text/javascript" src="library/angular-ui-router/angular-ui-router.min.js"></script>

<!--Angular Route JS-->
<script type="text/javascript" src="library/angular-route/angular-route.min.js"></script>

<!--jQuery JS-->
<script type="text/javascript" src="library/jquery/jquery-2.1.3.min.js"></script>

<!--Bootstrap JS-->
<script type="text/javascript" src="library/bootstrap/bootstrap.min.js"></script>

<!--Angular Bootstrap JS-->
<script type="text/javascript"
	src="library/angular-bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

</head>
<body class="rootBackground">
	<div class="container-fluid">
		<div></div>
	</div>
</body>
</html>