<div ng-controller="GuardController" ng-init="getAllData()">

	<section id="main-content">

		<section class="wrapper">



			<div class="row">
				<h1>View Guards</h1>
			</div>



			<div class="row">

				<div class="col-xs-12">

					<div class="panel panel-default" style="padding: 0;">

						<div class="panel-body">

							<h1>

								<small>Guards</small>

							</h1>

							<div ng-repeat="data in myProperties">

								<div class="row">

									<div class="col-xs-12">

										<div class="col-xs-6" style="padding-left: 0;">

											<h4>{{data.start_date}}</h4>

										</div>

										<div class="col-xs-6">

											<span class="glyphicon glyphicon-pencil pull-right hoverBtn"
												ng-click=""></span>

										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-xs-12">

										<h4>

											<small>{{data.bgstatus}}</small>

										</h4>

									</div>

								</div>


							</div>

						</div>

						<div class="panel-footer text-center">

							<button class="btn btn-primary" ng-click="">Add

								Guard</button>

						</div>

					</div>

				</div>

			</div>






		</section>

	</section>

</div>