<div ng-controller="CreateReportCtrl" >
	<section id="main-content">
          <section class="wrapper">            
              
      <div class="row"><h1>Create report</h1></div>
              <div class="col-md-12 portlets">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Create Alert</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                                      <!-- Edit profile form (not working)-->
                                   Petrol Record Added Successfuly
                                   <a href="setTemplate('createPatrol')">Click to add Patrol</a>
                                    </div>
                  

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>
              
            </div>

          </section>
      </section>
</div>