<div >
	<section id="main-content">
          <section class="wrapper">    
			<meta charset="utf-8">
	
	<div class="form-group">
										<label class="col-md-2 col-sm-3 control-label" for="invoice-currency">Select Currency</label>
										<div class="col-md-2 col-sm-3">
											<select id="invoice-currency" name="invoice-currency" class="form-control">
												<option value="6">USD (default)</option>
												<option value="5">EUR</option>
												<option value="4">CAD</option>
												<option value="3">AUD</option>
												<option value="2">GBP</option>
												<option value="1">...</option>
											</select>
										</div>
									</div>
	</section>
	</section>
	</div>
		